{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AuthenticateMe</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    {% load static %}
    {% block head_js %}
    {% endblock head_js %}

</head>

<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Game-Tag</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
    
                    {% if totalnotification > 0 %}
                    <li><a href="{% url 'yourprofile' %}"><i class="fa fa-star"></i> Notifications <label class="badge badge-warning">{{ totalnotification }}</label></a></li>
                    {% endif %}
                    <li><a href="{% url 'games' %}"><i class="fa fa-gamepad"></i> Games</a></li>
                    <li><a href="{% url 'streams' %}"><i class="fa fa-video-camera"></i> Watch {% if product_count > 0 %}<span class="badge">{{ product_count }}{% endif %}</span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="home">Search
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li style="text-align:center; border-bottom: solid gray 1px"><a href="{% url 'sgames' %}">Characters</a></li>
                            <li style="text-align:center; border-bottom: solid gray 1px"><a href="{% url 'susers' %}">User</a></li>
                            <li style="text-align:center; border-bottom: solid gray 1px"><a href="{% url 'sgames' %}">Games</a></li>
                            <form role="search" action="{% url 'search' %}">
                                <li><input type="text" class="form-control" placeholder="Search" name="query"></li>
                                <li style="text-align:center"><button class="btn btn-light" type="submit">Lets go! <i class="fa fa-search"></i></button></li>
                            </form>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'yourprofile' %}"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    
    <div class="container wrapper overallbody">
        
        {% block content %} {% endblock %}
        
    </div>
    <div style="height:20px"></div>
    
    
    
    
    <footer class="darker lighten-3 pt-4 mt-4">
    
    <!--Footer Links-->
    <div class="container text-center text-md-left">
    <div class="row my-4">
    
    <!--First column-->
    <div class="col-md-4 col-lg-3">
    <h4>Game-Tag</h4>
    <p>G. G.</p>
    <p>Find your Team.</p>
    </div>
    <!--/.First column-->
    
    
    
    <!--Second column-->
    <div class="col-md-2 col-lg-2 ml-auto">
    <h4>Useful Links</h4>
    <ul class="list-unstyled">
    <p>
    <a class="textwhite" href="#!">Games</a>
    </p>
    <p>
    <a class="textwhite" href="#!">Search</a>
    </p>
    <p>
    <a class="textwhite" href="#!">Register</a>
    </p>
    <p>
    <a class="textwhite" href="#!">Website Features</a>
    </p>
    </ul>
    </div>
    <!--/.Second column-->
    
    
    
    <!--Third column-->
    <div class="col-md-4 col-lg-3">
    <h4 c="text-uppercase mb-4 font-weight-bold">Contact Us</h4>
    <!--Info-->
    <p class="textwhite">
    <i class="fa fa-home mr-3"></i> <a class="textwhite" href="{% url 'pchat' 1 %}">Send Us a Message Now </a></p>
    
    <p class="textwhite">
    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
    
    </div>
    <!--/.Third column-->
    
   
    
    <!--Fourth column-->
    <div class="col-md-2 col-lg-2 text-center">
    <h4>Follow Us</h4>
    <!--Social buttons-->
    <div class="mt-2">
    <!--Facebook-->
    <a type="button" class="btn-floating btn-small btn-fb textwhite">
    <i class="fa fa-facebook"></i>
    </a>
    <!--Twitter-->
    <a type="button" class="btn-floating btn-small btn-tw textwhite">
    <i class="fa fa-twitter"></i>
    </a>
    <!--Google +-->
    <a type="button" class="btn-floating btn-small btn-gplus textwhite">
    <i class="fa fa-google-plus"></i>
    </a>
    
    </div>
    </div>
    <!--/.Fourth column-->
    
    </div>
    </div>
    <!--/.Footer Links-->
    
    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">

    <a href="#"> Back to Top </a>
    </div>
    <!--/.Copyright-->
    
    </footer>
    <!--/.Footer-->
</body>

</html>