{% extends 'home/base.html' %}
{% block content %}

    <div class="row darker">
        <div class="col-sm-6">
        <h3>Popular Games</h3>
        
            {% for g in games|slice:":4" %}<div class="col-sm-3"><a href="{% url 'game' g.id %}"><img src="{{ MEDIA_URL }}{{ g.img_thumbnail }}" style="background-color:red; max-width:100%; max-height: 100%"/></a></div>{% endfor %}
            
        </div>
        <div class="col-sm-6">
            <h2>Game-Tag</h2>
            <h3 class="textwhite">Find Your Favourite Streamers and Gaming Partners</h3>
        </div>

    </div>
    <div class="row">
        <br>
        <div class="col-sm-12">
            <div class="col-sm-3">
            <h2>Featured Users</h2>
            <p>Check out some of our featured Users</p>
            </div>
            {% for f in featured %}
            <div class="col-sm-3">
                <a href="{% url 'profile' f.id %}">
                    <div class="cardout" style="width:100%;">
                        <div class="cardin">
                            <div>
                            {% if f.img_profile %}
                            <img src="{{ MEDIA_URL }}{{ f.img_profile }}" style="max-width:100%; max-height: 100%"/>
                            {% else %}
                            <img src="{{ MEDIA_URL }}images/background.jpg" style="max-width:100%; max-height: 100%"/>
                            {% endif %}
                            </div>
                            <div style="text-align:center;">
                                <h3>{{ f.user }}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
        </div>

    </div>
    <div class="row">
        <br>
        <div class="col-sm-12">
            <div class="col-sm-3">
            <h2>Featured Games</h2>
            <p>Popular and Up and coming games</p>
            </div>
            
            <div class="col-sm-3">
                <a href="{% url 'game' newgame.id %}">
                    <div class="cardout" style="width:100%;">
                        <div class="cardin">
                            <div>
                            {% if newgame.img_tall %}
                            <img src="{{ MEDIA_URL }}{{ newgame.img_tall }}" style="max-width:100%; max-height: 100%"/>
                            {% else %}
                            <img src="{{ MEDIA_URL }}images/background.jpg" style="max-width:100%; max-height: 100%"/>
                            {% endif %}
                            </div>
                            <div style="text-align:center;">
                                <h3>{{ newgame.name }}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            {% for f in fgames %}
            <div class="col-sm-3">
                <a href="{% url 'profile' f.id %}">
                    <div class="cardout" style="width:100%;">
                        <div class="cardin">
                            <div>
                            {% if f.img_tall %}
                            <img src="{{ MEDIA_URL }}{{ f.img_tall }}" style="max-width:100%; max-height: 100%"/>
                            {% else %}
                            <img src="{{ MEDIA_URL }}images/background.jpg" style="max-width:100%; max-height: 100%"/>
                            {% endif %}
                            </div>
                            <div style="text-align:center;">
                                <h3>{{ f.name }}</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
        </div>

    </div>
    
    
{% endblock %}