{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
   
    <div class="row">
        <div class="col-sm-12 darker">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <br>
            <form role="form" method="POST">
                
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
                <div class="form-group">
                    <button type="submit" style="width: 80px" class="btn btn-primary">Login</button>
                </div>
            </form>
            <p>Don't have an account?</p>
            <p><button class="btn btn-success" style="width: 80px">Register</button></p>
        </div>
    </div>
   
{% endblock %}