{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
    
        <div class="row darker">
        
            <div class="col-sm-4 align-self-center" style="text-align:center">
                
                <img src="{{MEDIA_URL}}{{ person.uprofile.img_profile }}" style="width:200px; height: 200px; border-radius:10px; border: solid black 2px"/>
                
            </div>
            <div class="col-sm-4 align-self-center" style="text-align:center;">
                <div class="align-self-center" style="background-color: white; border-radius:10px; border: solid black 2px; height:200px">
                    <h3>{{ person.username }}</h3>
                {% if user.is_authenticated %}
                    {% if followstatus %}
                <a href="{%url 'unfollow' person.id %}" method="POST" class="btn btn-warning" role="button" aria-pressed="true">UnFollow</a>
                    {% else %}
                <a href="{%url 'follow' person.id %}" class="btn btn-success" style="width: 100px" role="button" aria-pressed="true" method="POST">Follow</a>
                    {% endif %}
                <a href="{% url 'pget' person.id %}" class="btn btn-primary" style="width: 100px" role="button" aria-pressed="true">Message</a>
                {% else %}
                <a>Join The Website to Follow and Message</a>
                {% endif %}
                
                <p style="margin: auto; background-color:white; border-radius: 8px; text-align:center;">
                    <a data-toggle="modal" data-target="#following"> Following </a>- {{ person.follows.all | length }} </p>
                <p style="margin: auto; background-color:white; border-radius: 8px; text-align:center;">
                    <a data-toggle="modal" data-target="#followers"> Followers </a> - {{ person.followby.all | length }} </p>
                
                <br>
                <p>
                {% if person.is_staff %}
                Website Administrator
                {% else %}
                Regular User
                {% endif %}
                </p>
                
                </div>
            </div>
            <div class="col-sm-4">
                
            </div>
    
        
        </div>

   
    
    <div class="row">
        <div class="col-sm-4">
            <h3>Characters</h3>
            {% if person.uprofile.main_character %}
            
            
            <div class="col-sm-12" style="height:200px; background-image: url('{{MEDIA_URL}}{{ person.uprofile.main_character.game.img_thumbnail }}'); background-repeat: no-repeat; background-size: 100% 100%;">
                <div style="position:absolute; bottom:0px; background-color:rgba(255, 255, 255, 0.4); width:90%">
                    <h4 style="color:black">{{person.uprofile.main_character.character}}</h4>
                    <p style="color:black">{{person.uprofile.main_character.game}}</p>
                    <p style="color:black">{{person.uprofile.main_character.get_rank}}</p>
                    <p style="color:black">{% for x in person.uprofile.main_character.abouts.all %}
                      {{ x }}
                    {% endfor %}</p>
                </div>
            </div>
            
            
            
            <br>
            {% endif %}
            <p><a data-toggle="modal" data-target="#characters"> See All Characters </a></p>
            <br>
        </div>
        <div class="col-sm-8">
            <h3>Posts</h3>
            <div class="col-sm-6">
            
            </div>
            <br>
            
            <br>
        </div>
        <br>
    </div>
    
    


<!-- following -->
<div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Following</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if person.followby.all %}
        {% for f in person.followby.all %}
        <p>{{f}</p>
        {% endfor %}
        {% else %}
        <p>{{ person }} is currently not following anyone or is being very private. . .</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Followers -->
<div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if person.follows.all %}
        {% for f in person.follows.all %}
        <p>{{f}</p>
        {% endfor %}
        {% else %}
        <p>{{ person }} currently has no followers or is being very private. . .</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="characters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Characters</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% regroup person.cprofile.all by game as game_list %}
    
        {% for game in game_list %}
            <h3>{{ game.grouper }}</h3>
            {% for char in game.list %}
                <p>{{ char.character }} Rank: {{char.get_rank}}</p>
            {% endfor %}
        {% endfor %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
{% endblock content %}