{% extends 'home/base.html' %}
{% load bootstrap_tags %}

{% block content %}


    <div class="row darker">
        
            <form role="search" method="POST" autocomplete="off">
                {% csrf_token %}
                
                <div  class="col-sm-3">
                <input type="text" class="form-control" style="width:100%;" placeholder="User Name" name="query">
                </div>
                
                <div  class="col-sm-3">
                <button class="btn btn-light" type="submit">Lets go! <i class="fa fa-search"></i></button>
                </div>
            </form>
        
    </div>
    
    <div class="row">
        <div class="col-sm-12">
          <h3>Users:</h3>
        {% for u in users %}
          <div class="col-sm-2"><a href="{% url 'profile' u.id %}">
            <p>{{ u }}</p></a>
          </div>
        {% endfor %}
        </div>
    </div>
    
    
</div>
   
{% endblock %}



