{% extends 'home/base.html' %}

{% load staticfiles %}
{% block content %}
<row>
   
      {% for g in games %}
        <div class="col-sm-2 col-xs-6 gameblock">
            
                <h3 class="gametitle"><a href="{% url 'game' g.id %}">{{g}}</a></h3>
            <div class="tohover">
            <img class="hoverover" src="{{ MEDIA_URL }}{{ g.img_thumbnail }}" style="max-height:100%; max-width:100%"/>
            
            
            <div class="overlay">
                
                    <a href="{% url 'publisher' g.publisher.id %}">{{g.publisher}}</a>
            </div>
            </div>
            
            
            <div class="gamerate">
            {% if g.reviews_num > 0 %}
                        <i style="color:gold" class="fa fa-star"></i>
                        <i {% if g.average_rating > 1.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 2.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 3.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 4.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        
                        <p>{{g.average_rating|floatformat:"1" }}/5.0</p>
                        {% else %}
                        <p>This Item Has Not Been Reviewed</p>
                        {% endif %}
            </div>
        
        </div>
        {% endfor %}

</row>
{% endblock %}

    