{% extends 'home/base.html' %}

{% load staticfiles %}
{% block content %}
<div class="row darker">
    <div class="col-sm-8">
        <h3>Games</h3>
    </div>
    <div class="col-sm-4">
        <br/>
        <form role="search" method="POST" autocomplete="off">
            {% csrf_token %}
            <div  class="col-sm-8 autocomplete">
                <input id="myInput" class="form-control" style="width:100%;" type="text" name="query" placeholder="Game Name">
            </div>
            
            
            <div  class="col-sm-4">
            <button class="btn btn-light" type="submit">Lets go! <i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    
</div>
<div class="row">
   <br/>
      {% for g in games %}
        <div class="col-sm-2 col-xs-6">
            <div class="gameblock">
                <h3 class="gametitle"><a href="{% url 'game' g.id %}">{{g}}</a></h3>
            <div class="tohover">
            <img class="hoverover" src="{{ MEDIA_URL }}{{ g.img_thumbnail }}" style="max-height:100%; max-width:100%"/>
            
            
            <div class="overlay">
                    <a href="{% url 'publisher' g.publisher.id %}">{{g.publisher}}</a>
            </div>
            </div>
            
            
            <div class="gamerate">
            {% if g.reviews_num > 0 %}
                        <i style="color:gold" class="fa fa-star"></i>
                        <i {% if g.average_rating > 1.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 2.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 3.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if g.average_rating > 4.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        
                        <p>{{g.average_rating|floatformat:"1" }}/5.0</p>
                        {% else %}
                        <p>Not Reviewed Yet</p>
                        {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}

</div>
    <script>
    var games_list = {{gameslist|safe}};
    
    function autocomplete(inp, arr) {
     
      var currentFocus;
     
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
         
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          
          this.parentNode.appendChild(a);
         
          for (i = 0; i < arr.length; i++) {
            
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
             
              b = document.createElement("DIV");
           
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
             
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          
              b.addEventListener("click", function(e) {
              
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
     
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
      
            currentFocus++;
    
            addActive(x);
          } else if (e.keyCode == 38) { //up
            currentFocus--;
            addActive(x);
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
          });
          
    }
    autocomplete(document.getElementById("myInput"), games_list);
    
    
    
    

</script>
{% endblock %}

    